<div fxLayout="row" fxLayoutGap="1rem" class="space">
    <button mat-mini-fab color="primary" (click)="onAddMemoClicked()" >
        <mat-icon>note_add</mat-icon>
      </button>
    <div fxLayout="row wrap" fxLayoutGap="1rem grid">
        <app-edit-memo *ngIf="addingMemo" (apply)="onCreateMemo($event)" (cancel)="onCancelCreate()"></app-edit-memo>
        <div *ngFor = "let memo of memos">
            <app-memo *ngIf="memo.id !==memoToEditID" [memo]="memo"></app-memo>
            <app-edit-memo *ngIf="memo.id === memoToEditID" [memo]="memo"
            (apply)="onApplyEdit($event)" (cancel)="onCancelEdit()"></app-edit-memo>
        </div>
    </div>   
</div>



<!-- 
    memos is the parent of memo and edit-memo
    
    
    ngFor is creating a series of the memos,
initializes memo
 <app-memo *ngFor = "let butterfly of memos" [memo]="butterfly"></app-memo>
<app-memo *ngFor = "let memo of memos" [lizard]="memo"></app-memo>
 in ts file should be 
 [memo] pushed  - parent
 "memo" pushed - child
 

-->