<div class="centerhv">
    <form (ngSubmit)="onUserReg()">
        <div layout="row">
            <mat-form-field appearance="standard">
                <input matInput placeholder="Username" name="username" [(ngModel)]="username">
            </mat-form-field>
        </div>
        <div layout="row">
            <mat-form-field appearance="standard">
                <input matInput placeholder="Password" type="password" name="password" [(ngModel)]="password">
            </mat-form-field>
        </div>

        <div layout="row">
            <button class="block" type="submit" mat-flat-button color="primary">Registration</button>
        </div>
    </form>
</div>


<!-- [(ngModel)]  2 ways data binding between the property (username, password) and the input []:inputs  (): events are output--> 